*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: 100%;

}

h1, h2, h3 {
 margin: 0;
}

.header {
 width: 100%;
 padding: 15px 0px;
 text-align: center;
 font-size: 24px;
 font-weight: 300;
 color: grey;
}

.header__logo {
color: inherit;
text-decoration: none;
}

.hero {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.hero__conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}

.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
}

.hero__subtitle{
    font-size: 32px;
    font-weight: 400;
}

.hero__link {
    margin-right: 10px;
    font-size: 30px;
    color: #000;
    transition: color 0.3s;
}

.hero__link:hover {
color: #4facfe
}

.hero__box {
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 2px 5px 10px
    rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    animation: ava-animate 5s infinite alternate;
    min-width: 300px;
    min-height: 500px;
}
.icons{
    height: 20px;
    width: auto;
}

@keyframes ava-animate {
    0% {
        border-radius: 47% 53% 70% 30% / 66% 67% 33% 34%;
    }

    40% {
        border-radius: 70% 30% 70% 30% / 41% 90% 10% 59% ;
    }

     60% {
        border-radius: 95% 5% 70% 30% / 62% 32% 68% 38%;
     }

     80% {
        border-radius: 47% 53% 70% 30% / 62% 32% 68% 38%;
     }

     100% {
        border-radius: 68% 32% 70% 30% / 62% 32% 68% 38%;
     }
}

@keyframes ava-bg {
    from {
        backdrop-filter: hue-rotate(0);
    }
    to{
        backdrop-filter: hue-rotate(90deg)
    }
}

.hero__box-img {
    animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 978px) {
    .hero {
        padding-top: 30px;  
    }

    .hero__conteiner {
        grid-row-gap: 28px;
    }

    .hero__title {
        grid-row-gap: 28px;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 22px;
        font-weight: 400;
    }

    .hero__description {
        font-size: 14px;
    }

    .hero__about {
        text-align: center;
    }

    .hero__links {
     justify-content: center;
    }

    .hero__box {
        max-width: 350px;
    }
}

